[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Mycroft Maps
Exec=/usr/bin/mycroft-skill-launcher.py "ID03"
Icon=ardour
Categories=VoiceApp
StartupNotify=false
