[Desktop Entry]
Categories=Utilities
Exec=konsole --workdir "/home/$USER/mycroft-core" --hold -e "bash start-mycroft.sh cli"
Icon=debug-run
Name=Mycroft Console
Terminal=false
Type=Application
Version=1.0
