[Desktop Entry]
Categories=Utilities
Exec=konsole --workdir "/home/$USER/mycroft-core" --hold -e "bash start-mycroft.sh cli"
Icon=debug-run
Name=Mycroft Console
Name[ar]=طرفية ميكروفت
Name[ca]=Consola del Mycroft
Name[ca@valencia]=Consola de Mycroft
Name[cs]=Konzole Mycroft
Name[de]=Mycroft-Konsole
Name[el]=Mycroft Console
Name[en_GB]=Mycroft Console
Name[es]=Consola de Mycroft
Name[eu]=Mycroft Kontsola
Name[fi]=Mycroft-konsoli
Name[fr]=Console pour Mycroft
Name[gl]=Consola de Mycroft
Name[hi]=मायक्रॉफ्ट कंसोल
Name[hu]=Mycroft konzol
Name[is]=Mycroft stjórnskjár
Name[it]=Console Mycroft
Name[ka]=Mycroft-ის კონსოლი
Name[ko]=Mycroft 콘솔
Name[nl]=Mycroft-console
Name[nn]=Mycroft-konsoll
Name[pl]=Konsola Mycroft
Name[pt]=Consola do Mycroft
Name[pt_BR]=Console do Mycroft
Name[ro]=Consolă Mycroft
Name[ru]=Консоль Mycroft
Name[sk]=Konzola Mycroft
Name[sl]=Mycroft Console
Name[sv]=Mycroft-terminal
Name[tr]=Mycroft Konsol
Name[uk]=Консоль Mycroft
Name[x-test]=xxMycroft Consolexx
Name[zh_CN]=Mycroft 控制台
Terminal=false
Type=Application
Version=1.0
