[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Wikipedia
Exec=mycroft-gui-app --hideTextInput --skill=mycroft-wiki.mycroftai
Icon=kt-chunks
Categories=VoiceApp
StartupNotify=false
