[Desktop Entry]
Categories=VoiceApp
Comment=
Exec=mycroft-gui-app --hideTextInput --skill=skill-wikidata.aiix.home
GenericName=
Icon=wikidata-skill
MimeType=
Name=Wikidata
Name[ar]=ويكي بيانات
Name[ca]=Wikidata
Name[ca@valencia]=Wikidata
Name[cs]=Wikidata
Name[de]=Wikidata
Name[el]=Wikidata
Name[en_GB]=Wikidata
Name[es]=Wikidata
Name[eu]=Wikidata
Name[fi]=Wikidata
Name[fr]=WikiData
Name[hi]=विकिडाटा
Name[hu]=Wikidata
Name[it]=Wikidata
Name[ka]=Wikidata
Name[ko]=Wikidata
Name[nl]=Wikidata
Name[nn]=Wikidata
Name[pl]=Wikidata
Name[pt]=Wikidata
Name[pt_BR]=Wikidata
Name[ro]=Wikidata
Name[ru]=Wikidata
Name[sk]=Wikiúdaje
Name[sl]=Wikidata
Name[sv]=Wikidata
Name[tr]=Vikiveri
Name[uk]=Вікідані
Name[x-test]=xxWikidataxx
Name[zh_CN]=Wikidata
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
