[Desktop Entry]
Categories=VoiceApp
Comment=
Exec=mycroft-gui-app --hideTextInput --skill=skill-wikidata.aiix.home
GenericName=
Icon=wikidata-skill
MimeType=
Name=Wikidata
Name[ca]=Wikidata
Name[cs]=Wikidata
Name[es]=Wikidata
Name[eu]=Wikidata
Name[fr]=Wikidata
Name[nl]=Wikidata
Name[sk]=Wikiúdaje
Name[sl]=Wikidata
Name[sv]=Wikidata
Name[uk]=Вікідані
Name[x-test]=xxWikidataxx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
