[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Wikipedia
Exec=/usr/bin/mycroft-skill-launcher.py "wikipedia-skill.home"
Icon=kt-chunks
Categories=VoiceApp
StartupNotify=false
